name = "ave-server"
main = "src/index.ts"
compatibility_date = "2026-02-08"
compatibility_flags = ["nodejs_compat"]

[observability]

[observability.logs]
enabled = true
invocation_logs = true

[[durable_objects.bindings]]
name = "API_APP"
class_name = "ApiAppDurableObject"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["ApiAppDurableObject"]

[triggers]
crons = ["0 3 * * *"]
