@import "tailwindcss";

@tailwind utilities;

@layer base {
  body { @apply bg-[#090909] text-[#D8D7D7] overflow-x-hidden; font-family:'Poppins',serif; }
}

@layer utilities {
  .font-poppins { font-family:'Poppins',serif; }
  .font-montserratAlt { font-family:'Montserrat Alternates',serif; }
  .text-accent { color:#8A7B8A; }
  .bg-accent { background-color:#8A7B8A; }
}