@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.starter2 {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.ph1 {
    color: #D8D7D7;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.select {
    display: flex;
    height: 70px;
    padding: 8px 48px 8px 34px;
    justify-content: center;
    align-items: center;
    gap: 28px;
    border-radius: 24px;
    background: #8A7B8A;
    outline: none !important;
    border: none !important;
    color: #D8D7D7;
    font-family: Poppins, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    cursor: pointer;
    transition: background 0.25s;
    margin-left: 80px;
}

.select:hover {
    background: #a190a1;
}

.select:active {
    background: #635963;
}

.choices {
    width: 1091px;
    height: 465px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    position: relative;
}

.choice-details h1 {
    color: #D8D7D7;
    font-family: Poppins, serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    align-self: stretch;
    text-align: left;
    line-height: 0;
}

.choice-description {
    color: #9C9C9C;
    font-family: Poppins, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 137.5% */
    align-self: stretch;
}

.choice1 {
    display: inline-flex;
    padding: 45px;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px 32px 0 0;
    border: 1px solid #8A7B8A;
    background: rgba(23, 23, 23, 0.80);
}

.choice2 {
    display: inline-flex;
    padding: 45px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 32px 32px;
    border: 1px solid #8A7B8A;
    background: rgba(23, 23, 23, 0.80);
}

.choice-details {
    display: flex;
    width: 679px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    line-height: 1;
}