@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.starterp {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ph2 {
    color: #D8D7D7;
    text-align: center;
    font-family: Poppins, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 0;
}

.pph1 {
    width: 615px;
    color: #5A5A5A;
    text-align: justify;
    font-family: Poppins, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 100% */
}

.pph2 {
    width: 615px;
    color: #4a4a4a;
    text-align: justify;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 100% */
}

.name {
    display: flex;
    height: 50px;
    padding: 0 15px;
    width: 390px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    background: rgba(32, 32, 32, 0.70);
    outline: none !important;
    border: none !important;
    color: #5A5A5A;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input:not(:placeholder-shown) {
    color: #d3d3d3;
}

.continue {
    display: flex;
    height: 50px;
    padding: 8px 37px 8px 13px;
    justify-content: center;
    align-items: center;
    gap: 23px;
    border-radius: 16px;
    background: #8A7B8A;
    outline: none !important;
    border: none !important;
    color: #D8D7D7;
    font-family: Poppins, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 122.222% */
    cursor: pointer;
    transition: background 0.25s;
}

.continue:hover {
    background: #a190a1;
}

.continue:active {
    background: #635963;
}

/* center the row */
.row {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    align-self: stretch;
    justify-content: center;
}